* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}



body {
    min-height: 100vh;
    background-color: #f1f0f0;
}



.admin-wrapper {
    display: flex;
}



.admin-wrapper .navigation {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #f27232;
    transition: 0.5s;
    overflow: hidden;
}
/*
.admin-wrapper .navigation:hover{
    width: 300px;
}*/
.admin-wrapper .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.admin-wrapper .navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}
.admin-wrapper .navigation ul li:hover {
    background-color: #ef5f17;
}
.admin-wrapper .navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: white;
}
.admin-wrapper .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.admin-wrapper .navigation ul li a .icon .fa {
    font-size: 20px;
}
.admin-wrapper .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}



.button {
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background: darkorange;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background: orangered;
}



.admin-wrapper .admin-content {
    position: absolute;
    width: calc(100% - 250px);
    left: 250px;
    height: 100%;
    padding: 60px;
    overflow-y: scroll;
}
.admin-content .page-title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}



table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}



.edit {
    color: green;
}
.delete {
    color: blue;
}
.edit:hover, .delete:hover {
    text-decoration: underline;
}



form div{
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 18px;
}
.text-input {
    width: 1100px;
    height: 40px;
    padding: 20px;
}
.text-body {
    width: 1100px;
    height: 100px;
    padding: 20px;
}
.text-select {
    border: 2px solid gray;
    width: 1100px;
    height: 40px;
    font-weight: 600;
    font-size: 15px;
    background: #f1f0f0;
}



.content table tbody tr td img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}